{% extends 'index.html' %}

{% block title %} Edit {% endblock %}


{% block content %}
<div aligh='center'>
    <form  method="post", class='tab'>
    <button id="tabl" class="tab-button" name="showTable" type="submit" value="showTable">Show Table</button>
    <button id="edit" class="tab-button" name="editTable" type="submit" value="editTable" disabled>Edit Table</button> <br>
</form></div>
<div>
    <form action="" method="post">
        <h3>Select Table</h3>
        <select name="tblnam" id="select-list" onchange="this.form.submit();">
            <option selected value='nothing'>Choose..</option>
            {% for table in tables %}
                <option  value={{ table }}>{{ table }}</option>
            {% endfor %}
    
        </select>
    </form>
</div>
{% block edit %}
{% endblock %}
{% endblock %}