{% extends 'index.html' %}

{% block title %} Edit {% endblock %}


{% block content %}
<div aligh='center'>
<form id= 'mode' action="" method="post">
    <button id="tabl" class="btn btn-primary btn-lg" name="showTable" type="submit" value="showTable">Show Table</button>
    <button id="edit" class="btn btn-primary btn-lg" name="editTable" type="submit" value="editTable" disabled>Edit Table</button> <br>
</form></div>
<div>
<form action="" method="post">
    <h3>Select Table:</h3>
    <select name="tblnam" class="custom-select w-25" id="">
        <option selected>Choose..</option>
        {% for table in tables %}
            <option value={{ table }}>{{ table }}</option>
        {% endfor %}

    </select>
    <button type="submit" class="btn btn-secondary" name='enter' value='enter' >Enter</button>
</form>
</div>
{% block edit %}
{% endblock %}
{% endblock %}