{% extends 'index.html' %}

{% block title %} Tables {% endblock %}


{% block content %}
<div>
<form id= 'mode' action="" method="post">
    <button id="tabl" class="btn btn-primary btn-lg" name="showTable" type="submit" value="showTable" disabled>Show Table</button>
    <button id="edit" class="btn btn-primary  btn-lg" name="editTable" type="submit" value="editTable">Edit Table</button> <br>
</form>
</div>
<div>
    <form action="" method="post">
    <h3>Select Table:</h3>
    <select name="tblnam" class="custom-select w-25" id="">
        <option selected>Choose..</option>
        {% for table in tables %}
            <option value={{ table }}>{{ table }}</option>
        {% endfor %}

    </select>
    <button type="submit" class="btn btn-secondary " name='enter' >Enter</button>
    </form>
</div>
{% block table %}
{% endblock %}
{% endblock %}

