{% extends 'selectTable.html' %}

{% block title %} {{ tableName }} {% endblock %}

{% block table %}
<div>

<table id='dtTable' class='table-dark table-striped' cellspacing="0" width="100%">
    <thead class='table-head '>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody style='background-color: #1d3557; text-align: center;'>
        {% for row in rows %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table> 

</div>
{% endblock %}
