{% extends 'selectTable.html' %}

{% block title %} {{ tableName }} {% endblock %}

{% block table %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<div>
    <form action method="post">
        <table id='dtTable' class='table-striped' cellspacing="0" width="100%">
            <thead class='table-head '>

                <tr>
                    {% for header in headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody style='background-color: rgba(10, 255, 243, 0.521); text-align: center;'>


                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#dtTable').DataTable({
            'pagingType': 'simple'
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}