.body {
    padding:4px;
    background-color:#457b9d;
}
.tab{
    background-color: #1d3557;
    margin-top:-4px;
    margin-left:-4px;
    margin-right:-4px;

}
.tab-button{
    color: #f1faee;
    background-color: transparent;
    outline:0;
    font-size: 20px;
    tab-size: 25px;
    border:10px;
    margin: -2px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tab-button:active, .tab-button:hover, .tab-button:focus{
    outline:0;
}
.tab-button:hover{
    transition: 0.5s;
    background-color: #457b9d83;
    color: #0e1929;

}

.tab-button:disabled{
    background-color: #457b9d;
    color: #1d3557;
    
}
table{
    margin:15px;
    align-items: center;
    width:75%;
}
label {
    display: inline-block;
    width: 200px;
    text-align: left;
}

select{
    border-width: 0px;
    color: #1d3557;
    font-size: 30px;
    border-right-width: 10px;
    border-color:#a8dadc;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a8dadc;
}
select::selection, select:active, select:focus, select:checked{
    outline: 0px;
}
option{
    margin: 0px;
    border-radius: 0px;
}

option:hover{
    
    background-color: #457b9d;
}

.table-head{
    background-color: #e63946;
    color:#f1faee;
    text-align: center;
}
.input-xs, .input{
    background-color: #f1faee;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 0px;
}

.button-s{
    background-color: #1d3557;
    color:#f1faee;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0px;
    border-radius: 10px;
}

.button-s:hover{
    transition: 0.3s;
    background-color: #a8dadc;
    color: #1d3557;
}

h4, h3{
    color: #1d3557;
    font-weight:900;
}

